body {
    padding-top: 70px;
}

.table th, .table td {
    vertical-align: middle;
}

.btn-container {
    margin-bottom: 20px;
    text-align: center;
}

.btn-container .btn {
    margin-right: 10px;
    padding: 15px 30px;
    font-size: 18px;
}

body {
    padding-top: 70px;
}

.table th, .table td {
    vertical-align: middle;
}